IP_TUN=10.0.10.1
IP_TUN_MASK=24
IP_TUN_SUBNET=10.0.10.0
IP_TUN_GW=10.0.10.2
IP_TUN_GW_MASK=255.255.255.0
TUN_DEV=tun0
TUN_CON=tun-$TUN_DEV
IP_SOCKS_PROXY=127.0.0.1:1080
IP_UDPGW=127.0.0.1:7300
TUN_LOGLEVEL=none                  # none / warning
IPROUTE_TABLE=tun
IPROUTE_TABLE_ID=100
IPROUTE_TABLE_PRIO=1000
