########################################################################
# tun2socks proxy
########################################################################

# Address and port of SSH SOCKS5 proxy to tunnel through.
# This is the address given to SSH with '-D' parameter.
#TUN2SOCKS_PROXY=127.0.0.1:1080

# Address and port of udpgw proxy on remote SSH server.
# This is the address given to badvpn-udpgw with '--listen-addr'
# parameter on the remote SSH server.
# Leave empty if badvpn-udpgw does not run on remote SSH server.
#TUN2SOCKS_UDPGW_REMOTE=127.0.0.1:7300

# badvpn-tun2socks log level (0-5/none/error/warning/notice/info/debug).
#TUN2SOCKS_LOGLEVEL=none

########################################################################
# Virtual tun/tap interface
########################################################################

# IP address of tun/tap interface.
#TUN_IP=10.0.10.1

# CIDR mask of tun/tap interface.
#TUN_IP_CIDR=24

# IP address of tun/tap gateway.
#TUN_IP_GW=10.0.10.2

# tun/tap interface name.
#TUN_IF=tun0

########################################################################
# Route table
#
# There should be no need to edit settings below.
########################################################################

# The name of the route table in iproute2.
#IPROUTE_TABLE=tun

# The ID of the route table (as in /etc/iproute2/rt_tables).
#IPROUTE_TABLE_ID=100

# The priority of the routing table in routing rules.
# This priority must be lower than the one of the main routing table.
#IPROUTE_TABLE_PRIO=1000
